.fatty {
  font-weight: 600;
}
.brand-color {
  color: var(--primary-color-light);
}
.section-titel {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 64px;
}
.underline {
  color: var(--brand-color-gray-light);
  text-underline-offset: 2px;
  text-decoration: underline;
}
