:root {
  --primary-color-white: #ffffff;
  --primary-color-light: #2b7fff;
  --primary-color-dark: #011c44;
  --brand-color-blue: #011f4a;
  --brand-color-yellow: #ffd02b;
  --brand-color-gray-light: #747272;
  --brand-color-gray: #4a4a4a;
  --dark: #000000;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1280px;
