.procedures-section {
  &__conteiner {
    margin-bottom: 96px;

    @media screen and (max-width: $desktop) {
      margin-bottom: 48px;
    }
  }

  &__titel {
    text-align: center;
  }

  &__swiper-container {
    width: 100%;
    overflow: hidden;
  }
}
